/* #region */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* #endregion */

:root {
  --clr-primary: hsl(0, 0%, 17%);
  --clr-secondary: hsl(0, 0%, 59%);

  --ff-primary: "Rubik", sans-serif;

  --fs-small: 14px;
  --fs-body: 18px;

  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;

  --bg-img: url("./assets/images/pattern-bg-mobile.png");
}

body {
  font-family: var(--ff-primary);
  font-optical-sizing: auto;
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#map {
  flex: 1;
}

.info-container {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.title {
  color: white;
  font-size: 1.5rem;
  font-weight: var(--fw-semi);
}

.ip-input-div {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  background-color: yellowgreen;

  border-radius: 0.8em;
  overflow: hidden;
}

.ip-input-div > input {
  font-family: inherit;
  border: none;
  padding: 1em;
  flex: 1;
}
.btn {
  background-color: black;
  border: none;
  width: 60px;
  display: grid;
  place-items: center;
}

.ip-info-div {
  width: 100%;
  max-width: 1200px;
  padding-block: 1em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.8em;
  background-color: white;
}

.ip-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ip-info-container > span {
  font-size: smaller;
  color: var(--clr-secondary);
  font-weight: var(--fw-semi);
  text-transform: uppercase;
}

.ip-info-container > p {
  margin: 0;
  font-size: 1.3rem;
  font-weight: var(--fw-semi);
}

@media screen and (min-width: 768px) {
  body {
    background-size: 100% 30%;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --bg-img: url("./assets/images/pattern-bg-desktop.png");
  }

  body {
    background-size: initial;
  }

  .ip-info-div {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
  }
}
